<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center" id="top-bar">
            <h1>Enjoy a Burger</h1>
        </div>
        <div class="col-sm-6 text-center" class="task">
            <div class="row">

                <!-- loops through each burger in the data-->
                {{#each bData}}
                {{#unless this.devoured}}
                <div class="col-xs-9 text-center">
                    <pre>{{this.id}}. {{this.burger_name}}</pre>
                </div>
                <div class="col-sm-6 text center">
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                        <br>
                        <button type="submit" class="btn btn-default">EAT IT</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
    </div>

</div>